.chart_box_div h3,
.chart_box_div h5,
.chart_box_div p {
    margin: 0; /* 글자 간의 마진을 초기화합니다. */
    padding: 0; /* 글자 간의 패딩을 초기화합니다. */
}

h3 {
    color: black;
}

.content {
    justify-content: center;
    align-content: center;
}

.button-container {
    display: flex;
    margin-top: 30px;
    margin-bottom: 50px;
    justify-content: center;
    align-content: center;
}


.hanamoney_chart_div {
    display: flex;
    margin-top: 50px;
    justify-content: center; /* 수정: 가운데 정렬 설정 */
    align-items: flex-end;
    background-color: white;
    opacity: 0.7;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px grey;
    width: 1400px;
    height: 600px;
}

.chart_box_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: white;
    opacity: 0.7;
    border-radius: 20px;
    box-shadow: 3px 3px 3px 3px grey;
    margin: 10px 15px 30px 10px;
    width: 220px;
    height: 110px;
    color: black;
}

.small_text {
    font-size: small;
}
.green_text {
    color: #008485;
}
.pink_text {
    color: #E90061;
}


.button {
    display: inline-block;
    text-align: center;
    background-color: #008485;
    border: none;
    color: white;
    width: 140px;
    height: 40px;
    margin-right: 10px;
    border-radius: 20px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    cursor: pointer;
    font-size: 16px;
    line-height: 40px;
}

.button:hover {
    background-color: #006363;
}