<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hanaonestock.member.model.dao.MemberMapper">
    <!-- 회원 전체 조회 -->
    <select id="getAllMember" parameterType="com.hanaonestock.member.model.dto.Member" resultType="com.hanaonestock.member.model.dto.Member">
        SELECT
        *
        FROM member
    </select>
    <!-- 회원 등록 테스트 -->
    <insert id="updateOrSaveUser" parameterType="com.hanaonestock.member.model.dto.Member">
        INSERT INTO member(id,email,name) VALUES (seq_member.NEXTVAL,#{email},#{name})
    </insert>
    <!-- 회원 등록 -->
    <insert id="insertMember" parameterType="com.hanaonestock.member.model.dto.Member">
        INSERT INTO member(id,email,name,pw) VALUES (#{id},#{email},#{name},#{pw})
    </insert>
    <!-- 회원 아이디 조회 -->
    <select id="selectOneMember" parameterType="int" resultType="int">
        SELECT
        count(*)
        FROM member where id=#{id}
    </select>

    <!--    &lt;!&ndash; 회원 수정 &ndash;&gt;-->
    <!--    <update id="updateMember" parameterType="u">-->
    <!--        update member set-->
    <!--        name=#{name},-->
    <!--        pw=#{pw},-->
    <!--        email=#{email}-->
    <!--        where id = #{id}-->
    <!--    </update>-->
    <!--    <delete id="id">-->
    <!--        delete from member WHERE id = #{id}-->
    <!--    </delete>-->

</mapper>