<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hanaonestock.stock.model.dao.OhlcvMapper">
    <select id="findAll" resultType="com.hanaonestock.stock.model.dto.Ohlcv">
        select * from ohlcv
    </select>

    <insert id="insertData" parameterType="com.hanaonestock.stock.model.dto.Ohlcv">
        INSERT INTO OHLCV
            (isin, s_date, open, high, low, close, volume, amount, updown)
        VALUES
            (#{isin}, #{s_date}, #{open}, #{high}, #{low}, #{close}, #{volume}, #{amount}, #{updown})
    </insert>

    <select id="findByIsinAndDate" resultType="com.hanaonestock.stock.model.dto.Ohlcv">
        select * from ohlcv where isin = #{isin} and s_date = #{date}
    </select>

    <select id="findByIsin" parameterType="String" resultType="com.hanaonestock.stock.model.dto.Ohlcv">
        select * from ohlcv where isin = #{isin}
    </select>

</mapper>
