<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hanaonestock.stock.model.dao.OhlcvMapper">
    <select id="findAll" parameterType="com.hanaonestock.stock.model.dto.Ohlcv" resultType="com.hanaonestock.stock.model.dto.Ohlcv">
        select * from ohlcv where isin = '095570'
    </select>
</mapper>