<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hanaonestock.stock.model.dao.StockMapper">
    <select id="findByName" parameterType="String" resultType="com.hanaonestock.stock.model.dto.Stock">
        select * from stock where name = #{name}
    </select>

    <select id="findByIsin" parameterType="String" resultType="com.hanaonestock.stock.model.dto.Stock">
        select * from stock where isin = #{isin}
    </select>

    <select id="stockListFindByName" parameterType="String" resultType="com.hanaonestock.stock.model.dto.Stock">
    <![CDATA[
        select *
        from (select * from stock where name like CONCAT(#{name}, '%') ORDER BY name ASC)
        where ROWNUM <= 10
        ]]>
    </select>

    <select id="stockListFindByIsin" parameterType="String" resultType="com.hanaonestock.stock.model.dto.Stock">
    <![CDATA[
        select *
        from (select * from stock where isin like CONCAT(#{isin}, '%') order by isin asc)
        where ROWNUM <= 10
        ]]>
    </select>

    <select id="recommendedStock" resultType="com.hanaonestock.stock.model.dto.RecommendedStock">
    <![CDATA[
        SELECT O1.ISIN, S_DATE, NAME, UPDOWN, CLOSE, CLOSE - Y_PRICE AS GAP
        FROM
            (SELECT ISIN FROM (SELECT * FROM PREDICT WHERE S_DATE = TRUNC(SYSDATE) AND PREDICT = 1 order by p_rate desc) where rownum < 5) O1
            INNER JOIN
            (SELECT ISIN, S_DATE, UPDOWN, CLOSE, ROUND(close / (1 + (updown/100))) AS Y_PRICE  FROM OHLCV WHERE S_DATE = TRUNC(SYSDATE)) O2
        ON
            O1.ISIN = O2.ISIN
            INNER JOIN
            STOCK S
            ON O1.ISIN = S.ISIN;
        ]]>
    </select>
</mapper>
