<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hanaonestock.stock.model.dao.StockMapper">
    <select id="findByName" parameterType="String" resultType="com.hanaonestock.stock.model.dto.Stock">
        select * from stock where name = #{name}
    </select>

    <select id="findByIsin" parameterType="String" resultType="com.hanaonestock.stock.model.dto.Stock">
        select * from stock where isin = #{isin}
    </select>
</mapper>
