<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hanaonestock.transaction.model.dao.TransactionMapper">
    <insert id="insertBuyTransaction" parameterType="com.hanaonestock.transaction.model.dto.Transaction">
        INSERT INTO TRANSACTION (T_ID, ID, BUY, VOLUME, ISIN, DATE_BUY, DURATION)
        VALUES (T_ID_seq.NEXTVAL, #{id}, #{buy}, #{volume}, #{isin}, #{dateBuy}, #{duration})
    </insert>

    <update id="updateSellTransaction" parameterType="com.hanaonestock.transaction.model.dto.Transaction">
        UPDATE TRANSACTION
        SET SELL = #{sell}, DATE_SELL = #{dateSell}
        WHERE ID = #{id} and ISIN = #{isin}
    </update>

    <select id="sumHasVolumeByIdIsin" resultType="int" parameterType="java.util.Map">
        select sum(volume)
        from transaction
        where id = #{id} and isin = #{isin} and date_sell is null
    </select>

    <select id="findTransactionsById" resultType="com.hanaonestock.transaction.model.dto.Result" parameterType="String">
        select ID, BUY, SELL, VOLUME, ISIN, DATE_BUY, DATE_SELL, NAME
        FROM (SELECT TRANSACTION.*, STOCK.NAME FROM TRANSACTION, STOCK WHERE TRANSACTION.ISIN = STOCK.ISIN)
        where ID = #{id} and SELL is NOT null
    </select>

</mapper>